.box{
    height: 20px;
    width: 100px;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    background-color: rgb(90, 90, 199);
}
div forrm{
  margin: 20px;
  background-color: darkorange;
  width: fit-content;
  padding: 40px;
}


a{
  font-style: italic;
  font-size: 16px;
  text-decoration: none;
}

body{
	font-family: calibri;
}

.tableheader {
    font-size: 24px;
}
.tableheader td {
    padding: 20px;
}
.tablerow td{
	text-align:center;
}
.message {
color: #FF0000;
font-weight: bold;
text-align: center;
width: 100%;
}
.login-input {
	border: #CCC 1px solid;
    padding: 10px 20px;
}
.btnSubmit {
	padding: 10px 20px;
    background: #2c7ac5;
    border: #d1e8ff 1px solid;
    color: #FFF;
    border-radius: 10px;
}
